 <ion-header>

    <ion-title>我的订单</ion-title>


</ion-header>


<ion-content class="order-list">

    <div class="no-order" *ngIf="isNoOrder">
        <img class="no-order-bg" src="assets/imgs/no-order.png" alt="">
        <p class="no-order-text">您还没有相关订单哦~~</p>
    </div>

    <div class="order-tabs-status clearfix">
        <li *ngFor="let item of tabsArr,let i = index" [ngClass]="{'tabs-status':true}" (touchend)="selectTabs(i)">
            <span class="item-text" [ngClass]="{'current':clickTab==i}">{{item}}</span>

        </li>
    </div>



    <div class="order-item" *ngFor="let order of orders">
        <div class="item-header">
            <div class="item-title">{{order?.shopName}}</div>
            <div class="status-wait-pay" *ngIf="order.orderPayStatus==1">待付款</div>
            <div class="status-wait-goods" *ngIf="order.orderPayStatus==2">待收货</div>
            <div class="status-complete" *ngIf="order.orderPayStatus==3">已完成</div>
        </div>
        <div class="item-content">
            <ul class="scrool" #goodsItems>


                <li class="goods-item" *ngFor="let item of order.odProductList "> 
                    <img class="img" src="http://lmstore.oss-cn-shenzhen.aliyuncs.com/{{item.imgPath}}" onerror="" alt="">
                  
                </li>
              
               
            </ul>
        </div>
        <div class="item-footer clearfix">
            <div class="item-goods-sum-price">共7333333件商品，实付：<span class="price">&yen; 666w</span> </div>

        </div>
        <div class="item-btn clearfix">
            <div class="btn-group">
                <span class="btn-cancel" *ngIf="order.orderPayStatus==1||order.orderPayStatus==2"  (touchend)="deleteOrder()">取消订单</span>
                <span class="btn-true" *ngIf="order.orderPayStatus==2">确认收货</span>
                <span class="btn-delete" *ngIf="order.orderPayStatus==3">删除</span>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer>
    
</ion-footer>
