 input-title-search {
     display: block;
     .input-title-search {
         width: r(750px);
         height: r(98px);
         display: block;
         // margin-top: r(28px)
         position: relative;
         .input-title {
             // 搜索图标
             .search-icon {
                 display: block;
                 position: absolute;
                 top: r(32px);
                 left: r(92px);
                 z-index: 220;
                 background-image: url("../assets/imgs/header_home_search.svg");
                 background-size: r(22px) r(22px);
                 width: r(22px);
                 height: r(22px);
                 // border: solid 2px #2e3133;
             }
             // 默认搜索推荐
             .default-text {
                 display: block;
                 position: absolute;
                 top: r(28px);
                 left: r(132px);
                 z-index: 220;
                 font-family: "PingFang-SC-Medium";
                 font-size: r(26px);
                 font-weight: normal;
                 font-stretch: normal;
                 letter-spacing: 0px;
                 color: #2e3133;
             }
             // 取消
             .cancel-text {
                 // position: absolute;
                 // display: block;
                 z-index: 220;
                 float: right;
                 height: r(98px);
                 line-height: r(98px);
                 margin-right: r(12px);
                 font-family: "PingFang-SC-Medium";
                 font-size: r(30px);
                 font-weight: normal;
                 font-stretch: normal;
                 letter-spacing: 0px;
                 color: #a2a6a8;
             }
             // 搜索框
             .input-text {
                 display: block;
                 //    margin-left: r(72px);
                 //    margin-top: r(18px);
                 position: absolute;
                 z-index: 200;
                 left: r(72px);
                 top: r(18px);
                 border-radius: r(6px);
                 background-color: #dde0e4;
                 height: r(52px);
                 width: r(577px);
                 padding-top: r(13px);
                 padding-bottom: r(14px);
                 padding-left: r(60px);
                 color: #2e3133;
                 padding-right: r(60px);
                 border: 0 none;
                 outline: 0 none;
                 font-size: r(26px);
             }
         }
     }
 }