number-item {
    font-size: r(28px);
    .button-ios {
        padding: 0;
        margin: 0;
        height: auto;
        line-height: 0;
        font-size: r(28px);
    }
    ion-col {}
    input {
        width: 100%;
        height: 100%;
        font-size: r(28px);
        // text-align: center;
        cursor: pointer;
        border-width: 0;
        outline: none;
    }
}