number-item {
    font-size: r(28px);
    .button-ios {
        padding: 0;
        margin: 0;
        height: auto;
        line-height: 0;
        font-size: r(28px);
    }
    input {
        width: 100%;
        height: 100%;
        font-size: r(28px);
        // text-align: center;
        cursor: pointer;
        border-width: 0;
        outline: none;
    }
    input:disabled {
        background: #fff;
    }
    button {
        i {
            background-image: linear-gradient(135deg, #39c9ff 0%, #3b96fd 100%), linear-gradient(#ffba00, #ffba00);
            background-blend-mode: normal, normal;
            color: #fff;
            padding: 0 r(6px);
            border-radius: 100px;
            width: r(40px);
            height: r(40px);
            line-height: r(40px);
        }
    }
    button:disabled {
        i {
            background-blend-mode: normal, normal;
            background-image: linear-gradient(135deg, #404041 0%, #abacad 100%), linear-gradient(#b9b6af, #cfcec9);
        }
    }
}