<ion-row>
    <!-- <ion-col col-6>
        <samp>数量：</samp>
    </ion-col> -->

    <ion-col *ngIf="buyNumber!=0" col-4>
        <button ion-button [disabled]='minus || disabled' (click)="onMinus($event)" clear>
            <ion-icon name="remove-circle" color="primary" ></ion-icon>
        </button>
    </ion-col>

    <ion-col *ngIf=" buyNumber!=0" col-4>
        <input [(ngModel)]="buyNumber" (input)="onInput($event)" (click)="onMyInput($event)" [disabled]='disabled' #input>
    </ion-col>

    <ion-col col-4>
        <button ion-button [disabled]='add || disabled' (click)="onAdd($event)" clear>
            <ion-icon name="add-circle" color="primary"></ion-icon>
        </button>
    </ion-col>
</ion-row>