<div class="box-item">

    <div class="item">
        <div class="item-title clearfix">
            <h2 class="title">{{productItemTitle[0]}}</h2>
            <span class="go-more" (click)="showEvent($event)">更多</span>
            <span class="btn-right"></span>
        </div>

        <!-- 内容 -->
        <div class="item-content">
            <ul class="product-item-scroll">
                
 
                    <li class="product-item-scroll-x" *ngFor="let  item of productList">
                        <img [src]="item.imgSrc" class="product-item-img" alt="">
                        <h3 class="product-item-title">
                            {{item.title}}
                        </h3>
                        <p class="product-item-price">￥{{item.price}}</p>
                    </li>

                   
                <!-- </ul> -->
            </ul>
        </div>
                
    </div>





    <div class="item">
        <div class="item-title clearfix">
            <h2 class="title">{{productItemTitle[1]}}</h2>
            <span class="go-more" (click)="showEvent($event)">更多</span>
            <span class="btn-right"></span>
        </div>

        <!-- 内容 -->
        <div class="item-content">
            <ul class="product-item-scroll">
                
 
                    <li class="product-item-scroll-x" *ngFor="let  item of productList">
                        <img [src]="item.imgSrc" class="product-item-img" alt="">
                        <h3 class="product-item-title">
                            {{item.title}}
                        </h3>
                        <p class="product-item-price">￥{{item.price}}</p>
                    </li>

                   
                <!-- </ul> -->
            </ul>
        </div>
                
    </div>





    <div class="item">
        <div class="item-title clearfix">
            <h2 class="title">{{productItemTitle[2]}}</h2>
            <span class="go-more" (click)="showEvent($event)">更多</span>
            <span class="btn-right"></span>
        </div>

        <!-- 内容 -->
        <div class="item-content">
            <ul class="product-item-scroll">
                
 
                    <li class="product-item-scroll-x" *ngFor="let  item of productList">
                        <img [src]="item.imgSrc" class="product-item-img" alt="">
                        <h3 class="product-item-title">
                            {{item.title}}
                        </h3>
                        <p class="product-item-price">￥{{item.price}}</p>
                    </li>

                   
                <!-- </ul> -->
            </ul>
        </div>
                
    </div>





    <div class="item">
        <div class="item-title clearfix">
            <h2 class="title">{{productItemTitle[3]}}</h2>
            <span class="go-more" (click)="showEvent($event)">更多</span>
            <span class="btn-right"></span>
        </div>

        <!-- 内容 -->
        <div class="item-content">
            <ul class="product-item-scroll">
                
 
                    <li class="product-item-scroll-x" *ngFor="let  item of productList">
                        <img [src]="item.imgSrc" class="product-item-img" alt="">
                        <h3 class="product-item-title">
                            {{item.title}}
                        </h3>
                        <p class="product-item-price">￥{{item.price}}</p>
                    </li>

                   
                <!-- </ul> -->
            </ul>
        </div>
                
    </div>
</div>