page-pay-password {
    ion-icon {
        font-size: 3rem;
    }
    section {
        p {
            position: absolute;
            color: #0075bc;
            font-size: 1.2rem;
            text-align: center;
            line-height: 4rem;
            top: 1rem;
            width: 100%;
            left: 0;
        }
        .pswInput {
            position: absolute;
            height: 40px;
            width: 280px;
            padding-right: 16px;
            background: #fff;
            overflow: hidden;
            left: 50%;
            top: 6rem;
            margin-left: -120px;
            input {
                position: absolute;
                left: 0;
                top: 0;
                height: 40px;
                width: 280px;
                overflow: hidden;
                letter-spacing: 35px;
                font-size: 14px;
                box-sizing: border-box;
                z-index: 2;
                text-indent: 17px;
                background: none;
                border: none;
                color: #666;
            }
            dl {
                position: absolute;
                left: 0rem;
                display: flex;
                dd {
                    flex: 1;
                    display: inline-block;
                    height: 40px;
                    width: 40px;
                    border: 1px solid #999;
                    border-left: 0;
                }
                dd:first-child {
                    border-left: 1px solid #999;
                }
            }
            span {
                position: absolute;
                background: #fff;
                display: block;
                width: 40px;
                height: 40px;
                left: 240px;
                top: 0;
                z-index: 3;
            }
        }
        @media screen and (width: 320px) {
            // .pswInput{ left:0; }
        }
        .button-ios {
            margin: 12rem 20% 0 20%;
            width: 60%;
        }
    }
}