<ion-content>
    <ion-row class='paybox'>
        <ion-col col-12 class="paytop">
            选择优先付款方式
            <button tappable (click)="closewin()">x</button>
        </ion-col>


        <ion-col col-12 class="tip" text-center>
            优先使用所选付款方式进行付款，如付款失败将尝试<br>使用其他支付方式完成付款
        </ion-col>

        <ion-col col-12 class='pay_title'>M卡支付
            <span>{{coupText}}</span>
        </ion-col>
        <label for="1">
      <ion-col col-9 class="pay_item_left">
        <img src="assets/imgs/icon_Payment_SCard.png" alt="">消费M卡(剩余￥ {{payye1*0.01|number:'.2-2'}}元) </ion-col>
      <ion-col col-3 class="pay_item_right">
        <i class="iconfont icon-duigou" *ngIf="checkedID==1"></i>

      </ion-col>
      <input type="radio" name="payf" id="1" [disabled]="payye1 == 0" #radio1 (change)="radioChange($event,1,payye1)" [checked]="checkedID==1"
        [value]='payye1'>
    </label>


        <label for="2">
      <ion-col col-9 class="pay_item_left">
        <img src="assets/imgs/icon_Payment_Star.png" alt="">消费积分(剩余{{payye2}}分) </ion-col>
      <ion-col col-3 class="pay_item_right">
        <i class="iconfont icon-duigou" *ngIf="checkedID==2"></i>

      </ion-col>
      <input type="radio" name="payf" id="2" [disabled]="payye2 == 0" #radio2 (change)="radioChange($event,2,payye2)" [checked]="checkedID==2"
        [value]='payye2'>
    </label>

        <label for="3">
      <ion-col col-9 class="pay_item_left">
        <img src="assets/imgs/icon_Payment_SCard.png" alt="">投资M卡(剩余￥{{payye3*0.01|number:'.2-2'}}元) </ion-col>
      <ion-col col-3 class="pay_item_right">
        <i class="iconfont icon-duigou" *ngIf="checkedID==3"></i>

      </ion-col>
      <input type="radio" name="payf" id="3" [disabled]="payye3 == 0" #radio3 (change)="radioChange($event,3,payye3)" [checked]="checkedID==3"
        [value]='payye3'>
    </label>


        <label for="4">
      <ion-col col-9 class="pay_item_left">
        <img src="assets/imgs/icon_Payment_Star.png" alt="">投资积分(剩余{{payye4}}分) </ion-col>
      <ion-col col-3 class="pay_item_right">
        <i class="iconfont icon-duigou" *ngIf="checkedID==4"></i>

      </ion-col>
      <input type="radio" name="payf" id="4" [disabled]="payye4 == 0" #radio4 (change)="radioChange($event,4,payye4)" [checked]="checkedID==4"
        [value]='payye4'>
    </label>


        <ion-col col-12 class='pay_title'>余额支付</ion-col>

        <label for="5">
      <ion-col col-9 class="pay_item_left">
        <img src="assets/imgs/weixin.png" alt="">微信支付 </ion-col>
      <ion-col col-3 class="pay_item_right">
        <i class="iconfont icon-duigou" *ngIf="checkedID==5"></i>

      </ion-col>
      <input type="radio" name="payf" id="5" [disabled]="payye5 == 0" #radio5 (change)="radioChange($event,5,payye5)" [checked]="checkedID==5"
        [value]='payye5'>
    </label>
    </ion-row>

</ion-content>