<div class="hot-keywords-search">
  <div class="keywords-title">
      <span class="keywords-text">
            热门搜索
      </span>
  </div> 
  <div class="kewords-list">
    <li class="item"><a href="" class="text">年货节</a></li>
    <li class="item"><a href="" class="text">咖喱鱼蛋</a></li>
    <li class="item"><a href="" class="text">冰冻饮料</a></li>
    <li class="item"><a href="" class="text">熟食</a></li>
    <li class="item"><a href="" class="text">口香糖</a></li>
    <li class="item"><a href="" class="text">老坛酸菜牛肉面</a></li>
    <li class="item"><a href="" class="text">热奶茶</a></li>
 
      
  </div> 
</div>