page-create-address {
    .create-form {
        .form {
            margin-top: 0;
            margin-bottom: 0;
            .item {
                position: relative;
                margin-top: 0;
                margin-bottom: 0;
                padding-left: r(22px);
                font-size: r(30px);
                font-weight: normal;
                font-stretch: normal;
                letter-spacing: 0px;
                color: #2e3133;
                font-family: "PingFang-SC-Medium";
                height: r(100px);
                .title {
                    font-size: r(30px);
                    position: absolute;
                    left: r(22px);
                    height: r(100px);
                    font-weight: bold;
                    font-stretch: normal;
                    line-height: r(100px); // top: r(35px);
                }
                .input {
                    font-weight: normal;
                    font-stretch: normal;
                    margin-top: 0;
                    margin-bottom: 0; // background: #000;
                    font-size: r(30px); // padding-top: r(35px);
                    border: none;
                    outline: 0 none;
                    height: r(100px);
                    margin-left: r(182px);
                    width: r(500px);
                }
                .icon-close {
                    display: block;
                    position: absolute;
                    right: r(22px);
                    top: r(35px); // height: r(100px);
                    // line-height: r(100px); // top: r(35px);
                    width: r(30px);
                    height: r(30px);
                    background-image: url("../assets/imgs/close.svg");
                    background-size: r(30px) r(30px);
                }
                .icon-btn-right {
                    display: block;
                    position: absolute;
                    right: r(22px);
                    top: r(35px);
                    width: r(30px);
                    height: r(30px); // background-color: #c3c7cc;
                    background-image: url("../assets/imgs/create-address-btn.svg");
                    background-size: r(30px) r(30px);
                }
            }
        }
        .create-desc {
            font-size: r(26px);
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0px;
            color: #a2a6a8;
            padding-left: r(22px);
        }
    }
    ion-footer {
        width: r(750px);
        display: block;
        height: r(90px);
        .btn-add-address {
            position: fixed;
            left: r(22px);
            bottom: r(15px);
            width: r(706px);
            display: block;
            height: r(90px);
            background-color: #29aff6;
            font-size: r(34px);
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0px;
            color: #f5fbff;
            border-radius: r(10px);
        }
    }

    // 创建成功的时候显示的蒙板
    .showToastBlock {
        display: none;
        width: r(750px);
        height: 100%;
        background-color:rgba(0,0,0,0.38);
        border-radius: r(18px);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
     
       .item{
           
            font-weight: normal;
            font-stretch: normal;
           
            width: r(600px);
            height: r(500px);
            border-radius: r(18px);
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: r(-300px);
            margin-top: r(-250px);
            font-size: r(28px);
            text-align: center;
            color: #2e3133;
            background-image: url("../assets/imgs/success_address.png");
            background-size: r(600px) r(500px);
            .title{
                margin-top: r(366px);
            }
            .desc{
                margin-top: r(27px);
               
                    font-size: r(24px);
                    font-weight: normal;
                    font-stretch: normal;
               
                    letter-spacing: 0px;
                    color: #a2a6a8;
                
            }
        }
    }
}
