page-select-store {
    .select-store-header{
        position: relative;
        .select-store-title{
     
      
            font-family: "PingFang-SC-Medium";
            font-size: r(36px);
            font-weight: normal;
            font-stretch: normal;
      
            letter-spacing: 0px;
            color: #000000;
        }
        .reset-position{
            position: absolute;
            right: r(22px);
            top: r(30px);
     
            font-family: "PingFang-SC-Medium";
            font-size: r(30px);
            font-weight: normal;
            font-stretch: normal;

            letter-spacing: 0px;
            color: #2e3133;
        
        }
    }
  
}
