<!--
  Generated template for the SelectStorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="select-store-header">


    <ion-title class="select-store-title">便利店选择</ion-title>
    <span class="reset-position" tappable (click)="Repositioning()">重新定位</span>

</ion-header>


<ion-content class="select-content">
    <div class="select-item">

        <div *ngIf="formattedAddress" class="select-sussess">
            <div class="sussess-icon">
                <img src="assets/imgs/icon_location_n.png" alt="">
            </div>
            <p class="sussess-text">{{formattedAddress}}</p>
        </div>

        <div *ngIf="!formattedAddress" class="select-fail">
            <div class="fail-icon">
                <img src="assets/imgs/icon_location_s.png" alt="">
            </div>
            <p class="fail-text">定位失败 请重新定位</p>
        </div>

        <p class="select-desc">1公里内免费配送，超出范围请到门店自提</p>
    </div>



    <div class="select-list">
        <div class="select-title">
            <span class="thread-left"></span>
            <span class="center-text">附近便利店</span>

            <span class="thread-right"></span>
        </div>
        <div *ngIf="datas!=undefined">
            <div class="select-item clearfix" *ngFor="let data of datas">
                <div tappable (click)="Shops()">
                    <h2 class="item-title">
                        {{data._name}}
                    </h2>
                    <p class="item-distance">{{data._distance}}m</p>
                    <p class="item-address">
                        <ion-icon class="address-icon" name="pin"></ion-icon>{{data._address}}</p>
                    <p class="item-tel">
                        <span class="tel-icon">
              <img src="assets/imgs/icon_phone.png" alt="">
            </span>外送电话：{{data.telephone}} </p>
                </div>
            </div>
        </div>
        <div *ngIf="datat==undefined">
            <div class="select-item clearfix" *ngFor="let data of datat">
                <div tappable (click)="Shops()">
                    <h2 class="item-title">
                        {{data._name}}
                    </h2>
                    <p class="item-address">
                        <ion-icon class="address-icon" name="pin"></ion-icon>{{data._address}}</p>
                    <p class="item-tel">
                        <span class="tel-icon">
              <img src="assets/imgs/icon_phone.png" alt="">
            </span>外送电话：{{data.telephone}} </p>
                </div>
            </div>
        </div>

    </div>
</ion-content>