<div class="history-search">

  <div class="history-title">
    <span class="history-text">历史搜索</span>
  </div>

  <div class="history-item">
    <li class="item"><a class="text" href="">优惠券</a></li>
    <li class="item"><a class="text" href="">方便面</a></li>
    <li class="item"><a class="text" href="">抽纸巾</a></li>
    <li class="item"><a class="text" href="">雀巢咖啡</a></li>
    <li class="item"><a class="text" href="">果倍爽</a></li>
    <li class="item"><a class="text" href="">大可乐</a></li>
  </div>

  <div class="clear-history">
    <div class="clear-block">
      <span class="clear-btn">清除搜索记录</span>
    </div>
  </div>

</div>
