notice-home {
    .warpper {
        width: r(750px);
        height: r(80px);
        background-color: #ffffff;
        position: relative;
        display: block;
        .notice-box {
            // width: 291px;
            // height: 25px;
            // font-family: PingFang-SC-Medium;
            font-size: r(26px);
            font-weight: normal;
            font-stretch: normal;
            line-height: r(80px);
          
          
            .icon-notice{
                width: r(36px);
                height: r(37px);
                display: block;
                position: absolute;  
                left: r(22px);
                top: r(22px); 
                background-image: url("../../assets/imgs/icon-notice.svg");

                background-size: r(36px) r(37px); 
            } 

            .notice-title{
                letter-spacing: 0px;
                color: #2e3133;
                margin-left: r(78px);
            }

            // 门店详情
            .store-details {
                 float: right;
                 
                margin-right:r(60px); 
                font-family: "PingFang-SC-Medium";
                font-size: r(26px);
                font-weight: normal;
                font-stretch: normal;
               
                letter-spacing: 0px;
                color: #a2a6a8;
            }

           .btn-right{
            width: r(28px);
            height: r(28px);
               position: absolute;
               top: r(26px);
               right: r(22px);
      
            background-image: url("../../assets/imgs/btn_right.svg");

            background-size: r(28px) r(28px); 
           }
        }


       
    }
}
