page-kind {
    .left_box {
        width: 28%;
        ul {
            width: 28%;
            position: absolute;
            overflow: scroll;
            height: 100%;
            li {
                margin-bottom: r(25px);
                text-align: center;
                span {
                    color: #2e3133;
                    height: r(56px);
                    line-height: r(56px);
                    font-size: r(26px);
                    display: block;
                    width: r(190px);
                    margin: 0 auto;
                }
                span.in {
                    color: #fff;
                    border-radius: r(28px);
                    background-image: linear-gradient(90deg, #29aff6 0%, #1da3ea 100%),
                }
            }
        }
    }
    .right_box {
        position: absolute;
        overflow: scroll;
        height: 100%;
        padding: 0;
        width: 72%;
        right: 0;
        .selectBox {
            font-size: r(28px);
            color: #2e3133;
        }
        .r_box1 {
            height: r(90px);
            line-height: r(80px);
            text-align: center;
            background-color: #f4f6f9;
        }
        .r_box2 {
            height: r(150px);
            margin-top: 15px;
            ion-col {
                padding: 0 15px;
            }
        }
        .r_box3 {
            ul {
                li {
                    span {
                        font-size: r(26px);
                        color: #2e3133;
                        width: r(150px);
                        height: r(56px);
                        background-color: #ffffff;
                        border-radius: r(8px);
                        border: solid 1px #dde0e4;
                        display: block;
                        text-align: center;
                        line-height: r(56px);
                        overflow: hidden;
                    }
                    span.in {
                        color: #29aff6;
                        border: solid 1px #29aff6;
                    }
                    float: left;
                }
            }
        }
        .item_box {
            .i_box1 {}
            .i_box2 {
                font-size: r(24px);
                color: #2e3133;
            }
            .i_box3 {
                font-size: r(34px);
                color: #ff5733;
            }
            .i_box4 {}
        }
    }
}