<!--
  Generated template for the OrderSubmissionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>订单提交</ion-title>
    </ion-navbar>

</ion-header>


<ion-content style="background:#f4f6f9;">
    <ion-row class="box1" *ngIf="isAddress">
        <ion-col col-1>
            <i class="icon-icon_MapMark iconfont"></i>
        </ion-col>
        <ion-col col-10>
            <span>{{odBase.userName}}</span> {{odBase.userMobile}}
            <p>{{odBase.userAddress}} </p>
        </ion-col>
        <ion-col col-1>
            <i class="icon-btn_arrow iconfont"></i>
        </ion-col>
    </ion-row>
    <ion-row class="box1_no" *ngIf="!isAddress" tappable (click)="toReceivingAddress()">

        <ion-col col-12>
            <i class="iconfont icon-icon_MapMark"></i>
        </ion-col>
        <ion-col col-1>
        </ion-col>
        <ion-col col-10>
            还没有添加收货地址哦~请添加吧！
        </ion-col>
        <ion-col col-1>
            <i class="icon-btn_arrow iconfont"></i>
        </ion-col>
    </ion-row>

    <ion-row class="xian"> </ion-row>

    <ion-row class="box2">
        <ion-col col-1 text-right>
            <i class="icon-icon_Store iconfont"></i>
        </ion-col>
        <ion-col col-10 tappable (click)="toStoreDetails()">
            {{shopName}}
        </ion-col>
        <ion-col col-1>
            <i class="icon-btn_arrow iconfont"></i>
        </ion-col>
    </ion-row>
    <ion-row class="box3_out">
        <ion-row class="box3" *ngFor="let item of getParams">
            <ion-col col-3>
                <img [src]="item?.mainpic" alt="" onerror="src='assets/imgs/erro_img.png'">
            </ion-col>
            <ion-col col-9>
                <p>{{item?.productName}}</p>
                <span>￥{{item?.salePrice}}</span><i>x{{item?.productQty}}</i>
            </ion-col>
        </ion-row>
    </ion-row>

    <ion-row class="box4">
        <div>
            <ion-col col-6>
                配送方式
            </ion-col>
            <ion-col col-5>
                <select name="" id="" [(ngModel)]="odBase.transportType">
                    <option value=" ">请选择</option>
                    <option value="1">自提</option>
                    <option value="0">配送</option>
                </select>
            </ion-col>
            <ion-col col-1>
                <i class="icon-btn_arrow iconfont"></i>
            </ion-col>
        </div>

        <div>
            <ion-col col-6>
                自提时间
            </ion-col>
            <ion-col col-5>
                <select name="" id="" [(ngModel)]="timed">
                    <option value="0">请选择</option>
                    <option [value]="time" *ngFor="let time of timeSelect">{{time}}</option>
                </select>
            </ion-col>
            <ion-col col-1>
                <i class="icon-btn_arrow iconfont"></i>
            </ion-col>
        </div>
        <div>
            <ion-col col-6>
                优惠券
            </ion-col>
            <ion-col col-5>
                {{coupontext}}
            </ion-col>
            <ion-col col-1>
                <i class="icon-btn_arrow iconfont"></i>
            </ion-col>
        </div>


        <div>
            <ion-col col-12>
                备注
                <ion-textarea></ion-textarea>
            </ion-col>
        </div>

    </ion-row>

    <ion-row class="box5">
        <div>
            <ion-col col-7>
                商品总额
            </ion-col>
            <ion-col col-5>
                ￥{{odBase.orderTotalprice}}
            </ion-col>
        </div>

        <div>
            <ion-col col-7>
                商品优惠
            </ion-col>
            <ion-col col-5>
                -￥{{odBase.usedCouponAmount}}
            </ion-col>
        </div>

        <p *ngIf="isDiscounts">
            (烟酒商品不能享用M卡折扣)
        </p>
    </ion-row>

    <ion-row class="box6" tappable (click)="openPaySelect()">
        <ion-col col-1>
            <img [src]="payUrl" alt="">
        </ion-col>
        <ion-col col-10>
            {{payName}}
            <p *ngIf="!payTip">优先使用此支付方式付款</p>
        </ion-col>
        <ion-col col-1>
            <i class="icon-btn_arrow iconfont"></i>
        </ion-col>
    </ion-row>

</ion-content>


<ion-footer>
    <ion-row>
        <ion-col col-3>
            共计2件
        </ion-col>
        <ion-col col-6>
            <span>需付款：</span><span>￥{{odBase.receivable}}</span>
        </ion-col>
        <ion-col col-3 tappable (click)="submit()">
            去付款
        </ion-col>
    </ion-row>
</ion-footer>