                page-order-submission {
                    ion-content {
                        background: #f4f6f9;
                    }
                    font-size: r(20px);
                    .box1 {
                        i {
                            color: #29aff6;
                        }
                        padding: r(35px) 0;
                        background: #fff;
                        [col-10] {
                            font-size: r(30px);
                            line-height: r(36px);
                            color: #2e3133;
                            p {
                                font-size: r(24px);
                                line-height: r(36px);
                                letter-spacing: 0px;
                                color: #a2a6a8;
                                margin-top: r(29px);
                            }
                        }
                    }
                    .box1_no {
                        background: #fff;
                        text-align: center;
                        padding: r(35px) 0;
                        [col-12] {
                            padding-top: r(20px);
                        }
                        [col-10] {
                            font-size: r(24px);
                            color: #a2a6a8;
                            margin-top: r(25px);
                        }
                        i.icon-icon_MapMark {
                            padding: r(20px);
                            margin-top: r(20px);
                            color: #fff;
                            font-size: r(40px);
                            border-radius: 100px;
                            width: 90px;
                            height: 90px;
                            background-image: linear-gradient(135deg, #39c9ff 0%, #3b96fd 100%), linear-gradient( #ffba00, #ffba00);
                            background-blend-mode: normal, normal;
                        }
                        i.icon-btn_arrow {
                            font-size: r(30px);
                            color: #c3c7cc;
                            position: absolute;
                            top: r(-40px);
                            right: r(22px);
                        }
                    }
                    .xian {
                        background-size: 18% 100%;
                        background-image: url(../assets/imgs/ordersubmit.png);
                        background-color: #fff;
                        height: r(6px);
                        margin-bottom: r(22px);
                    }
                    .box2 {
                        background: #fff;
                        height: r(100px);
                        line-height: r(100px);
                        [col-10] {
                            font-size: r(30px);
                            // line-height: r(32px);
                            color: #2e3133;
                        }
                        i.icon-icon_Store {
                            color: #29aff6;
                        }
                        i.icon-btn_arrow {
                            font-size: r(30px);
                            color: #c3c7cc;
                        }
                    }
                    .box3_out {
                        // display: flex;
                        // width: 100%;
                        .box3 {
                            width: 100%;
                            display: flex;
                            border-bottom: r(1px) solid #dde0e4;
                            border-bottom-width: 75%;
                            height: auto;
                            position: relative;
                            background: #fff;
                            padding: r(35px) r(22px);
                            [col-3] {}
                            [col-9] {
                                p {
                                    font-size: r(30px);
                                    line-height: r(32px);
                                    color: #2e3133;
                                    margin-bottom: r(34px);
                                }
                                span {
                                    font-size: r(34px);
                                    line-height: r(30px);
                                    color: #ff5733;
                                }
                                i {
                                    font-size: r(26px);
                                    line-height: 0px;
                                    letter-spacing: 0px;
                                    color: #a2a6a8;
                                    position: absolute;
                                    right: 0;
                                    margin-top: 15px;
                                }
                            }
                        }
                        .box3::after {
                            content: ' ';
                            height: r(1px);
                            width: 25%;
                            position: absolute;
                            bottom: r(-1px);
                            left: 0;
                            background: #fff;
                            z-index: 9999;
                            display: block;
                        }
                        .box3:last-child::after {
                            display: none;
                        }
                    }
                    .box4 {
                        select {
                            border: none;
                            appearance: none;
                            -moz-appearance: none;
                            -webkit-appearance: none;
                            direction: rtl;
                        }
                        margin-top: r(22px);
                        background: #fff;
                        div {
                            height: r(100px);
                            line-height: r(90px);
                            font-size: r(30px);
                            display: flex;
                            width: 100%;
                            border-bottom: r(1px) solid #dde0e4;
                        }
                        div:last-child {
                            padding-left: r(22px);
                            padding-right: r(22px);
                            line-height: auto;
                            height: auto;
                            border-bottom: none;
                            ion-textarea {
                                background-color: #f4f6f9;
                                border-radius: r(10px);
                            }
                        }
                        [col-6] {
                            font-size: r(30px);
                            color: #2e3133;
                            padding-left: r(22px);
                        }
                        [col-5] {
                            font-size: r(26px);
                            color: #a2a6a8;
                            text-align: right;
                        }
                        [col-1] {
                            color: #c3c7cc;
                        }
                    }
                    .box5 {
                        padding: 0 r(22px);
                        margin-top: r(22px);
                        background: #fff;
                        [col-7] {
                            font-size: r(30px);
                            line-height: r(60px);
                            color: #a2a6a8;
                        }
                        [col-5] {
                            font-size: r(30px);
                            line-height: r(60px);
                            color: #ff5733;
                            text-align: right;
                        }
                        p {
                            font-size: r(24px);
                            line-height: r(36px);
                            color: #ff5733;
                        }
                    }
                    .box6 {
                        padding: r(22px) r(22px) r(22px) 0;
                        margin-bottom: r(150px);
                        background: #fff;
                        font-size: r(30px);
                        line-height: r(42px);
                        color: #2e3133;
                        i {
                            font-size: r(26px);
                            line-height: r(42px);
                            color: #a2a6a8;
                        }
                    }
                    div {
                        display: flex;
                        width: 100%;
                    }
                    ion-footer {
                        background: #fff;
                        ion-col {
                            padding: 0;
                            height: r(99px);
                            line-height: r(89px);
                        }
                        [col-3] {
                            font-size: r(26px);
                            color: #a2a6a8;
                        }
                        [col-3]:last-child {
                            font-family: PingFang-SC-Medium;
                            font-size: r(34px);
                            color: #f5fbff;
                            background-color: #29aff6;
                            text-align: center;
                            line-height: r(75px);
                        }
                        [col-6] {
                            text-align: right;
                            line-height: r(75px);
                            font-size: r(26px);
                            color: #2e3133;
                            span {
                                font-size: r(36px);
                                color: #ff5733;
                                i {
                                    font-size: r(30px);
                                    color: #ff5733;
                                }
                            }
                        }
                    }
                    ion-textarea {
                        padding: 0 r(22px);
                    }
                }