<ion-content>
    <div class="box0" col-12>
        <div class="box1">
            确认支付<span tappable (click)="close()">X</span>
        </div>
        <div class="box2">
            ￥{{getdatas?.receivable}}
            <p *ngIf="getdatas?.isDiscounts">(烟酒商品不能享用M卡折扣)</p>
        </div>
        <div class="box3">
            <ion-row>
                <ion-col col-1>
                    <img [src]="getdatas?.payUrl" alt="">
                </ion-col>

                <ion-col col-10>
                    <p>{{getdatas?.payName}}</p> <span class="s1">优先使用此支付方式付款</span>
                    <span class="s2" *ngIf="getdatas?.isDiscounts">{{coupText}}</span>
                </ion-col>

                <ion-col col-1>
                    <i class="icon-btn_arrow iconfont"></i>
                </ion-col>
            </ion-row>
        </div>
        <div class="box4">
        </div>
    </div>

</ion-content>
<ion-footer>
    <button ion-button full tappable (click)="ok()">确认支付</button>
</ion-footer>