page-car-list {
    input[type=checkbox] {
        display: none;
    }
    .box2 {
        .box2_1 {
            font-size: r(30px);
            height: r(32px);
            line-height: r(22px);
            color: #2e3133;
        }
        .box2_2 {
            .box2_2_1 {
                font-size: r(34px);
                color: #ff5733;
            }
        }
    }
}